.wrapper {
    background-color: rgba(252, 252, 252, 1);
    // display: flex;
    // justify-content: center; /* căn giữa theo chiều ngang */
    // align-items: center; /* căn giữa theo chiều dọc */
    // height: 90vh; /* Đảm bảo form căn giữa trên toàn bộ chiều cao của màn hình */
    // background-color: #b7b6b65c;
    //padding-block: 0;
}

.container {
    //  width: 1100px; /* hoặc bất kỳ kích thước nào bạn muốn */
    padding: 20px;
    font-size: large;
}
.content-body {
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
}

.board-item,
.ranking-item,
.prominent,
.categories {
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 120px;
    border-radius: 20px;
}

.prominent {
    height: 320px;
}

.book-item {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 245px;
    width: 165px;
    border-radius: 10px 10px 20px 20px;
    margin: auto;
}
.board-item {
    margin-bottom: 20px;
}

.prominent,
.categories {
    height: fit-content;
    padding-bottom: 20px;
}

.book-cover {
    width: 70px;
    height: 90px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
    margin-top: 15px;
    margin-left: 15px;
}

.prominent .d-flex,
.categories .d-flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr)); /* Mỗi item có độ rộng tối thiểu 150px và dàn đều */
    gap: 50px; /* Khoảng cách giữa các item */
    justify-content: center; /* Căn giữa các item */
    padding: 30px;
}

.categories-label {
    background-color: rgba(43, 109, 255, 1);
    border-radius: 20px;

    color: #fff;
    width: fit-content;
    padding-left: 2px;
    padding-right: 2px;
}

.btn-continue {
    background-color: #2e319e;
    margin-top: 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    display: block;
    font-weight: bold;
    height: 40px;
    width: 100%;
}

.btn-return {
    background-color: #3d6cf87c;
    margin-top: 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    display: block;
    font-weight: bold;
    height: 40px;
    width: 100%;
}

.relative-parent {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    //   margin: auto;
    background-color: #ffff;
    justify-content: flex-end;
    margin-top: 50px;
}
.list-item {
    margin-bottom: 100px;
}
