.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
    display: flex;
    padding-top: 10px;
    background-color: #bdbdbd4d;
}

.content {
    flex: 1;
    border-radius: 26px;
    background-color: #ffffffe6;
    margin-bottom: 10px;
    height: calc(
        100vh - var(--default-layout-header-height) - 20px
    ); /* Chiều dài của content là 100% chiều cao của viewport trừ chiều cao của header và khoảng cách 10px ở đáy */
    overflow-y: auto; /* Thêm thanh cuộn khi nội dung vượt quá kích thước */
    margin-right: 6px;
}
