/* Sidebar.module.scss */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 280px;
    padding: 20px 0 26px 8px;
    margin-left: 15px;
    margin-right: 15px;
    height: calc(100vh - 40px); /* 100% chiều cao của viewport trừ padding top và bottom */
    overflow-y: auto; /* Bật thanh cuộn khi cần thiết */
}

.side-bar {
    //height: 100%; /* Chiều cao 100% để điền vào phần bên trong của sidebar */
}
